@inherits LayoutComponentBase

    <div id="colorlib-page">
        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
        @*<div class="sidebar">
            <NavMenu />
        </div>*@
        <aside id="colorlib-aside" role="complementary" class="js-fullheight img" style="background-image: url(images/sidebar-bg.jpg);">
            <h1 id="colorlib-logo" class="mb-4"><a href="index.html">ionize</a></h1>
            <nav id="colorlib-main-menu" role="navigation">
                <ul>
                    <li class="colorlib-active"><a href="index.html">Home</a></li>
                    <li><a href="travel.html">Travel</a></li>
                    <li><a href="lifestyle.html">Lifestyle</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>

            <div class="colorlib-footer">
                <div class="mb-4">
                    <h3>Subscribe for newsletter</h3>
                    <form action="#" class="colorlib-subscribe-form">
                        <div class="form-group d-flex">
                            <div class="icon"><span class="icon-paper-plane"></span></div>
                            <input type="text" class="form-control" placeholder="Enter Email Address">
                        </div>
                    </form>
                </div>
                <p class="pfooter">

                </p>
            </div>
        </aside> <!-- END COLORLIB-ASIDE -->
        @*<div class="main">
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>*@
        <div id="colorlib-main">
            <section class="ftco-section ftco-no-pt ftco-no-pb bg-light">
                <div class="container px-0">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex">
                            <div class="blog-entry ftco-animate">
                                <a href="single.html" class="img" style="background-image: url(images/image_4.jpg);"></a>
                                <div class="text p-4">
                                    <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                                    <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex">
                            <div class="blog-entry ftco-animate">
                                <a href="single.html" class="img" style="background-image: url(images/image_5.jpg);"></a>
                                <div class="text p-4">
                                    <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                                    <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex">
                            <div class="blog-entry ftco-animate">
                                <a href="single.html" class="img" style="background-image: url(images/image_6.jpg);"></a>
                                <div class="text p-4">
                                    <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                                    <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 d-flex">
                            <div class="blog-entry ftco-animate">
                                <a href="single.html" class="img" style="background-image: url(images/image_4.jpg);"></a>
                                <div class="text p-4">
                                    <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                                    <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex">
                            <div class="blog-entry ftco-animate d-flex flex-column-reverse">
                                <a href="single.html" class="img" style="background-image: url(images/image_5.jpg);"></a>
                                <div class="text p-4">
                                    <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                                    <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex">
                            <div class="blog-entry ftco-animate">
                                <a href="single.html" class="img" style="background-image: url(images/image_6.jpg);"></a>
                                <div class="text p-4">
                                    <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                                    <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div><!-- END COLORLIB-MAIN -->
    </div><!-- END COLORLIB-PAGE -->